.searchInput {
  width: 100%;
  max-width: 420px;
  padding: 12px 16px;

  border: 0px solid #3b82f6;
  border-radius: 20px;

  background-color: rgb(243, 243, 243);
  outline: none;
  box-sizing: border-box;

  transition:
    border-width 100ms ease-out,
    box-shadow 100ms ease-out,
    transform 100ms ease-out;
}

.focused {
  border-width: 4px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
